
.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Bebas Neue', display;
  font-size: 5rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Bebas Neue', display;
  font-size: 6rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 7.5rem;
}
.display-4 {
  font-family: 'Bebas Neue', display;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-5 {
  font-family: 'Bebas Neue', display;
  font-size: 2.9rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.625rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 4.8rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2.32rem;
    font-size: calc( 1.665rem + (2.9 - 1.665) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.665rem + (2.9 - 1.665) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #277e00 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #025986 !important;
}
.bg-danger {
  background-color: #232323 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #277e00 !important;
  border-color: #277e00 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0c2700 !important;
  border-color: #0c2700 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0c2700 !important;
  border-color: #0c2700 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #025986 !important;
  border-color: #025986 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #012031 !important;
  border-color: #012031 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #012031 !important;
  border-color: #012031 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #277e00;
  color: #277e00;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #0c2700 !important;
  background-color: transparent!important;
  border-color: #0c2700 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #277e00 !important;
  border-color: #277e00 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #e43f3f;
  color: #e43f3f;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #b31919 !important;
  background-color: transparent!important;
  border-color: #b31919 !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: #148cca !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: #2a747e !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #025986;
  color: #025986;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #012031 !important;
  background-color: transparent!important;
  border-color: #012031 !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #025986 !important;
  border-color: #025986 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #025074 !important;
  background-color: transparent!important;
  border-color: #025074 !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #277e00 !important;
}
.text-secondary {
  color: #e43f3f !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #025986 !important;
}
.text-danger {
  color: #232323 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #071800 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #a61717 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #001621 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #000000 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #277e00;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #025986;
}
.alert-danger {
  background-color: #232323;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #277e00;
  border-color: #277e00;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #277e00;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #4efe00;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #0caafb;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #d5d5d5;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Bebas Neue', display;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #277e00 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Bebas Neue', display;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #277e00;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #277e00;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #277e00;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #277e00;
  border-bottom-color: #277e00;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #277e00 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #e43f3f !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23277e00' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sVE4KzgsQH {
  z-index: 1000;
  width: 100%;
}
.cid-sVE4KzgsQH nav.navbar {
  position: fixed;
}
.cid-sVE4KzgsQH .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sVE4KzgsQH .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sVE4KzgsQH .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sVE4KzgsQH .dropdown-item:hover,
.cid-sVE4KzgsQH .dropdown-item:focus {
  background: #277e00 !important;
  color: white !important;
}
.cid-sVE4KzgsQH .dropdown-item:hover span {
  color: white;
}
.cid-sVE4KzgsQH .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sVE4KzgsQH .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sVE4KzgsQH .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sVE4KzgsQH .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sVE4KzgsQH .nav-link {
  position: relative;
}
.cid-sVE4KzgsQH .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-sVE4KzgsQH .container {
    flex-wrap: nowrap;
  }
}
.cid-sVE4KzgsQH .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sVE4KzgsQH .dropdown-menu,
.cid-sVE4KzgsQH .navbar.opened {
  background: #277e00 !important;
}
.cid-sVE4KzgsQH .nav-item:focus,
.cid-sVE4KzgsQH .nav-link:focus {
  outline: none;
}
.cid-sVE4KzgsQH .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sVE4KzgsQH .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sVE4KzgsQH .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sVE4KzgsQH .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sVE4KzgsQH .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sVE4KzgsQH .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sVE4KzgsQH .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(39, 126, 0, 0.8);
}
.cid-sVE4KzgsQH .navbar.opened {
  transition: all 0.3s;
}
.cid-sVE4KzgsQH .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sVE4KzgsQH .navbar .navbar-logo img {
  width: auto;
}
.cid-sVE4KzgsQH .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sVE4KzgsQH .navbar.collapsed {
  justify-content: center;
}
.cid-sVE4KzgsQH .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sVE4KzgsQH .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sVE4KzgsQH .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.7rem);
  }
}
.cid-sVE4KzgsQH .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sVE4KzgsQH .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sVE4KzgsQH .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sVE4KzgsQH .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sVE4KzgsQH .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sVE4KzgsQH .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sVE4KzgsQH .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sVE4KzgsQH .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sVE4KzgsQH .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sVE4KzgsQH .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sVE4KzgsQH .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sVE4KzgsQH .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sVE4KzgsQH .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sVE4KzgsQH .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sVE4KzgsQH .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sVE4KzgsQH .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sVE4KzgsQH .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sVE4KzgsQH .navbar.navbar-short {
  min-height: 60px;
}
.cid-sVE4KzgsQH .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sVE4KzgsQH .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sVE4KzgsQH .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sVE4KzgsQH .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sVE4KzgsQH .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sVE4KzgsQH .dropdown-item.active,
.cid-sVE4KzgsQH .dropdown-item:active {
  background-color: transparent;
}
.cid-sVE4KzgsQH .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sVE4KzgsQH .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sVE4KzgsQH .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sVE4KzgsQH .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #277e00;
}
.cid-sVE4KzgsQH .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sVE4KzgsQH .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sVE4KzgsQH ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sVE4KzgsQH .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sVE4KzgsQH button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sVE4KzgsQH button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #f7f7f7;
}
.cid-sVE4KzgsQH button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sVE4KzgsQH button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sVE4KzgsQH button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sVE4KzgsQH button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sVE4KzgsQH nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sVE4KzgsQH nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sVE4KzgsQH nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sVE4KzgsQH nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sVE4KzgsQH .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sVE4KzgsQH a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sVE4KzgsQH .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sVE4KzgsQH .navbar {
    height: 70px;
  }
  .cid-sVE4KzgsQH .navbar.opened {
    height: auto;
  }
  .cid-sVE4KzgsQH .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sVP32ADeTy {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #ffffff;
}
.cid-sVP32ADeTy .carousel {
  width: 100%;
}
.cid-sVP32ADeTy .carousel-inner {
  display: flex;
  align-content: center;
  align-items: center;
}
.cid-sVP32ADeTy .carousel-item img {
  height: 100vh;
  object-fit: cover;
}
.cid-sVP32ADeTy .carousel-caption {
  bottom: 40px;
}
.cid-sVP32ADeTy .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-sVP32ADeTy .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-sVP32ADeTy .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
.cid-sVP32ADeTy .item-wrapper {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-sVP32ADeTy .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-sVP32ADeTy .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-sVP32ADeTy .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-sVP32ADeTy .carousel-control {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-sVP32ADeTy .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sVP32ADeTy .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sVP32ADeTy .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-sVP32ADeTy .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-sVP32ADeTy .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-sVP32ADeTy .carousel-indicators li.active,
.cid-sVP32ADeTy .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-sVP32ADeTy .carousel-indicators li::after,
.cid-sVP32ADeTy .carousel-indicators li::before {
  content: none;
}
.cid-sVP32ADeTy .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-sVP32ADeTy .carousel-indicators {
    display: none !important;
  }
}
.cid-sVP32ADeTy H5 {
  text-align: center;
  color: #ffffff;
}
.cid-sW9qneJy0u {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sW9qneJy0u .mbr-section-subtitle {
  color: #277e00;
}
.cid-sVPEUb3fJJ {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
@media (min-width: 1500px) {
  .cid-sVPEUb3fJJ .container {
    max-width: 1400px;
  }
}
.cid-sVPEUb3fJJ .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #6592e6;
  margin-bottom: 2rem;
}
.cid-sVPEUb3fJJ .card-wrapper {
  margin-top: 3rem;
}
.cid-sVPEUb3fJJ .row {
  justify-content: center;
}
.cid-sVPEUb3fJJ .card-title,
.cid-sVPEUb3fJJ .iconfont-wrapper {
  color: #277e00;
}
.cid-sVPEUb3fJJ .card-text {
  color: #277e00;
  text-align: center;
}
.cid-sVMCLMSVIw {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-sVMCLMSVIw img,
.cid-sVMCLMSVIw .item-img {
  width: 100%;
}
.cid-sVMCLMSVIw .item:focus,
.cid-sVMCLMSVIw span:focus {
  outline: none;
}
.cid-sVMCLMSVIw .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sVMCLMSVIw .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #277e00;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 25px;
}
@media (min-width: 992px) {
  .cid-sVMCLMSVIw .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sVMCLMSVIw .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sVMCLMSVIw .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sVMCLMSVIw .mbr-section-title {
  color: #232323;
}
.cid-sVMCLMSVIw .mbr-text,
.cid-sVMCLMSVIw .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-sVMCLMSVIw .item-title {
  text-align: left;
}
.cid-sVMCLMSVIw .item-subtitle {
  text-align: left;
}
.cid-sVMCLMSVIw .mbr-section-subtitle {
  color: #277e00;
}
.cid-sVPMBBKR14 {
  padding-top: 5rem;
  padding-bottom: 8rem;
  background-color: #fafafa;
}
.cid-sVPMBBKR14 img,
.cid-sVPMBBKR14 .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-sVPMBBKR14 .item:focus,
.cid-sVPMBBKR14 span:focus {
  outline: none;
}
.cid-sVPMBBKR14 .item-wrapper {
  position: relative;
}
.cid-sVPMBBKR14 .slide-content {
  position: relative;
  border-radius: 4px;
  background: #277e00;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
  border-radius: 25px; 
}
@media (min-width: 992px) {
  .cid-sVPMBBKR14 .slide-content .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-sVPMBBKR14 .slide-content .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sVPMBBKR14 .slide-content .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-sVPMBBKR14 .slide-content .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-sVPMBBKR14 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sVPMBBKR14 .mbr-section-title {
  color: #277e00;
}
.cid-sVPMBBKR14 .mbr-text,
.cid-sVPMBBKR14 .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-sVPMBBKR14 .item-title {
  text-align: center;
  color: #ffffff;
}
.cid-sVPMBBKR14 .item-subtitle {
  text-align: left;
  color: #bbbbbb;
}
.cid-sVPMBBKR14 .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 370px;
  max-width: 370px;
}
@media (max-width: 768px) {
  .cid-sVPMBBKR14 .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-sVPMBBKR14 .embla__button--next,
.cid-sVPMBBKR14 .embla__button--prev {
  display: flex;
}
.cid-sVPMBBKR14 .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-sVPMBBKR14 .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-sVPMBBKR14 .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-sVPMBBKR14 .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sVPMBBKR14 .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sVPMBBKR14 .embla__button {
    top: auto;
  }
}
.cid-sVPMBBKR14 .embla {
  position: relative;
  width: 100%;
}
.cid-sVPMBBKR14 .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-sVPMBBKR14 .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-sVPMBBKR14 .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-sVPMBBKR14 .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 768px) {
  .cid-sVPMBBKR14 .embla__container {
    margin-left: 1.3rem;
    margin-right: 1.3rem;
  }
  .cid-sVPMBBKR14 .embla__container .embla__slide:first-child {
    margin-left: 2rem !important;
  }
  .cid-sVPMBBKR14 .embla__container .embla__slide:last-child {
    margin-right: 2rem !important;
  }
}
.cid-sVQMrmNGJ3 {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sVQMrmNGJ3 .mbr-section-subtitle {
  color: #277e00;
}
.cid-sVQLcwrkL3 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sVQLcwrkL3 .img-wrapper {
  text-align: center;
}
.cid-sVQLcwrkL3 img {
  margin: auto;
  width: 140px;
  padding-bottom: 2rem;
}
.cid-sVQLcwrkL3 .row {
  align-items: flex-start;
}
.cid-sVQLcwrkL3 .card-wrapper {
  border-radius: 4px;
  background: #277e00;
  border-radius: 25px;
}
@media (max-width: 992px) {
  .cid-sVQLcwrkL3 .card-wrapper {
    margin-bottom: 2rem;
  }
}
@media (min-width: 768px) {
  .cid-sVQLcwrkL3 .card-wrapper {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sVQLcwrkL3 .card-wrapper {
    padding: 1rem;
  }
}
.cid-sVQLcwrkL3 .card-title {
  color: #ffffff;
}
.cid-sVRDcfqi6c {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sVRDcfqi6c .item {
  padding-bottom: 2rem;
}
.cid-sVRDcfqi6c .item-wrapper {
  height: 400px;
  position: relative;
}
.cid-sVRDcfqi6c .item-wrapper img {
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.cid-sVRDcfqi6c .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-sVRDcfqi6c .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-sVRDcfqi6c .carousel-control,
.cid-sVRDcfqi6c .close {
  background: #1b1b1b;
}
.cid-sVRDcfqi6c .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-sVRDcfqi6c .carousel-control-prev span {
  margin-right: 5px;
}
.cid-sVRDcfqi6c .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-sVRDcfqi6c .carousel-control-next span {
  margin-left: 5px;
}
.cid-sVRDcfqi6c .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-sVRDcfqi6c .close::before {
  content: '\e91a';
}
.cid-sVRDcfqi6c .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-sVRDcfqi6c .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-sVRDcfqi6c .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sVRDcfqi6c .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sVRDcfqi6c .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-sVRDcfqi6c .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-sVRDcfqi6c .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-sVRDcfqi6c .carousel-indicators li.active,
.cid-sVRDcfqi6c .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-sVRDcfqi6c .carousel-indicators li::after,
.cid-sVRDcfqi6c .carousel-indicators li::before {
  content: none;
}
.cid-sVRDcfqi6c .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-sVRDcfqi6c .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-sVRDcfqi6c .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-sVRDcfqi6c .carousel-indicators {
    display: none;
  }
}
.cid-sVRDcfqi6c .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-sVRDcfqi6c .carousel-inner > .active {
  display: block;
}
.cid-sVRDcfqi6c .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sVRDcfqi6c .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-sVRDcfqi6c .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-sVRDcfqi6c .carousel-control,
  .cid-sVRDcfqi6c .carousel-indicators,
  .cid-sVRDcfqi6c .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-sVRDcfqi6c .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-sVRDcfqi6c .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-sVRDcfqi6c .carousel-indicators .active,
.cid-sVRDcfqi6c .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-sVRDcfqi6c .carousel-indicators .active {
  background: #fff;
}
.cid-sVRDcfqi6c .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-sVRDcfqi6c .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-sVRDcfqi6c .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-sVRDcfqi6c .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-sVRDcfqi6c .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-sVRDcfqi6c .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-sVRDcfqi6c .carousel {
  width: 100%;
}
.cid-sVRDcfqi6c .modal-backdrop.in {
  opacity: 0.8;
}
.cid-sVRDcfqi6c .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-sVRDcfqi6c .modal.fade .modal-dialog,
.cid-sVRDcfqi6c .modal.in .modal-dialog {
  transform: none;
}
.cid-sVRDcfqi6c .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-sVRDcfqi6c H6 {
  text-align: center;
  color: #277e00;
}
.cid-sVRDcfqi6c H4 {
  color: #277e00;
}
.cid-sVRK9wmUTd {
  padding-top: 5rem;
  padding-bottom: 8rem;
  background-color: #ffffff;
}
@media (min-width: 1500px) {
  .cid-sVRK9wmUTd .container {
    max-width: 1400px;
  }
}
.cid-sVRK9wmUTd .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #277e00;
  margin-bottom: 2rem;
}
.cid-sVRK9wmUTd .card-wrapper {
  margin-top: 3rem;
}
.cid-sVRK9wmUTd .row {
  justify-content: center;
}
.cid-sVRK9wmUTd .card-title,
.cid-sVRK9wmUTd .iconfont-wrapper {
  text-align: center;
  color: #277e00;
}
.cid-sVRK9wmUTd .mbr-section-title {
  color: #277e00;
}
.cid-sVRK9wmUTd .card-text {
  text-align: center;
  color: #025986;
}
.cid-sVRPeiBqJe {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #277e00;
}
.cid-sVRPeiBqJe .media-wrap {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-sVRPeiBqJe .media-wrap {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-sVRPeiBqJe .row {
    text-align: center;
  }
  .cid-sVRPeiBqJe .row > div {
    margin: auto;
  }
  .cid-sVRPeiBqJe .social-row {
    justify-content: center;
  }
}
.cid-sVRPeiBqJe .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-sVRPeiBqJe .list {
  list-style: none;
  padding-left: 0;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sVRPeiBqJe .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sVRPeiBqJe .list {
    margin-bottom: 0rem;
  }
}
.cid-sVRPeiBqJe .mbr-text {
  color: #ffffff;
}
.cid-sVRPeiBqJe .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-sVRPeiBqJe .mbr-iconfont {
  color: black;
}
@media (max-width: 991px) {
  .cid-sVRPeiBqJe div > *:last-child {
    margin-top: 0 !important;
  }
}
